header {
  margin-top: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgb(0, 0, 0));
}

body {
  background: rgb(64, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(64, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

html {
  color: white;
  font-family: prompt;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  font-size: 1.4rem;
  color: white;
  margin-left: 4rem;
  font-weight: 5001;
  transition: 0.3s ease;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  border-bottom: 2px solid white;
  font-size: 1.6rem;
}

.port:hover {
  border-bottom: 2px solid white;
  font-size: 2.2rem;
}

.irl-image img {
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.31) 0px 0px 60px;
}

.irl-information {
  box-shadow: rgba(255, 255, 255, 0.31) 0px 0px 60px,
    rgba(255, 255, 255, 0.5) 0px 0px 20px inset;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 1.5rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

.irl-information h1 {
  font-size: 3rem;
}

.port {
  font-size: 2rem;
  font-weight: bold;
}

.fa-x-twitter,
.fa-github,
.fa-youtube {
  background: white;
  border: 0px solid transparent;
  border-radius: 25px;
  padding: 0.6rem;
  transition: 0.5s ease;
}

.fa-x-twitter:hover,
.fa-github:hover,
.fa-youtube:hover {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.9rem;
}
.facts p {
  line-height: 29px;
}

.main {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nat-image {
  height: 17rem;
  margin: 2.5rem;
  transition: 0.8s;
}
.nat-image:hover {
  height: 18rem;
  margin: 2.5rem;
}

.irl-information {
  text-align: center;
}

.mainproject {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding-top: 0.1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: rgba(255, 0, 0, 0.16) 0px 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: ;
  justify-content: flex-start;
  margin-left: 2rem;
  margin-right: 2rem;
}

.project-text {
  font-size: 2.7rem;
  margin-left: 2rem;
}

.project-img {
  padding: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 20rem;
}

.project-img iframe {
  position: relative;
  width: 90%;
  height: 10rem;
}

.kagerou-reload,
.japanese-practice-discord-bot,
.ene-discord-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding-top: 2rem;
  background: linear-gradient(
    0deg,
    rgba(64, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: rgba(255, 0, 0, 0.31) 0px 0px 30px,
    rgba(255, 0, 0, 0.5) 0px 0px 20px inset;
  border-radius: 20px;
  transition: 0.5s ease;
  max-width: 350px;
  height: 26rem;
}

.kagerou-reload:hover,
.japanese-practice-discord-bot:hover,
.ene-discord-bot:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 0, 0, 0.39) 0px 0px 30px,
    rgba(255, 0, 0, 0.92) 0px 0px 20px inset;
}

.project-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-info h4 {
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.project-info p {
  padding: 10px;
  padding-top: 5px;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.mainskills {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: rgba(255, 0, 0, 0.16) 0px 0px 60px;
}
.mainskills h1 {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 2.7rem;
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: left;
  justify-content: left;
  margin-left: 2rem;
  margin-right: 2rem;
}

.gauge {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  width: 200%;
  border-radius: 20px;
}
.gauge-python {
  background: red;
  height: 2rem;
  width: 69%;
  border-radius: 20px 0px 0px 20px;
}

.gauge-gdscript {
  background: red;
  height: 2rem;
  width: 90%;
  border-radius: 20px 0px 0px 20px;
}

.gauge-english {
  background: red;
  height: 2rem;
  width: 80%;
  border-radius: 20px 0px 0px 20px;
}

.gauge-japanese {
  background: red;
  height: 2rem;
  width: 60%;
  border-radius: 20px 0px 0px 20px;
}

.gauge-webdev {
  background: red;
  height: 2rem;
  width: 50%;
  border-radius: 20px 0px 0px 20px;
}

.gauge-gamedev {
  background: red;
  height: 2rem;
  width: 80%;
  border-radius: 20px 0px 0px 20px;
}

.gauge-videoedit {
  background: red;
  height: 2rem;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}

.facts {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: rgba(255, 0, 0, 0.16) 0px 0px 60px;
  display: flex;
  flex-direction: column;
}
.facts p,
.facts h1 {
  margin-left: 2rem;
  margin-right: 2rem;
}
